* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.section-one,
.section-two {
  height: 100%;
}

.section-one {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  border-right: 2px solid black;
}
hr {
  width: 100%;
}

button {
  padding: 0.25rem;
}

#feed {
  overflow-y: scroll;
  padding: 0.5rem;
}

.event-entry {
  background-color: rgb(193, 193, 193);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
}
